{%extends "layout.html"%}
{%block body_tag%}
<body>
{%endblock%}

{%block content%}
<!-- Banner -->
    <!--
        To use a video as your background, set data-video to the name of your video without
        its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
        formats to work correctly.
    -->
        <section id="banner" data-video="images/banner">
            <div class="inner">
                <header>
                    <h1>This is Shohoku</h1>
                    <p>A place where you can watch live sports games for free.</p>
                </header>
                <a href="#main" class="button big alt scrolly">Explore</a>
            </div>

        </section>

<!-- Main -->
    <div id="main">

    <!-- One -->
        <section class="wrapper style1">
            <div class="inner">
                <header class="align-center">
                    <h2>Featured Games</h2>
                    <p>Watch these games at anytime on any device.</p>
                </header>
                <!-- 2 Column Video Section -->
                    <div class="flex flex-2">
                        {%for each in promoted_events:%}
                        <div class="video col">
                            <div class="image fit">
                                <img src="{{each['event_thumb']}}" alt="" />
                                <div class="arrow">
                                    <div class="icon fa-play"></div>
                                </div>
                            </div>
                            <p class="caption">
                                {{each["event_title"]}}
                            </p>
                            <a href="{{url_for('generic', event_id=each['event_id'])}}" class="link"><span>Click Me</span></a>
                        </div>
                        {%endfor%}
                    </div>
            </div>
        </section>

    <!-- Two -->
        <section class="wrapper style2">
            <div class="inner">
                <header>
                    <h2>Live Streaming Games</h2>
                    <p>Find out any game you want to watch here.</p>
                </header>
                <!-- Tabbed Video Section -->
                    <div class="flex flex-tabs">
                        <ul class="tab-list">
                            <li><a href="#" data-tab="tab-1" class="active">NBA</a></li>
                            <li><a href="#" data-tab="tab-2">NFL</a></li>
<!--                                    <li><a href="#" data-tab="tab-3">Donec faucibus risus cursus</a></li>-->
                        </ul>
                        <div class="tabs">

                            <!-- Tab 1 -->
                                <div class="tab tab-1 flex flex-3 active">
                                    <!-- Video Thumbnail -->
                                        {%for each in nba_events:%}
                                        <div class="video col">
                                            <div class="image fit">
                                                <img src="{{each['event_thumb']}}" alt="" />
                                                <div class="arrow">
                                                    <div class="icon fa-play"></div>
                                                </div>
                                            </div>
                                            <a href="{{url_for('generic', event_id=each['event_id'])}}" class="link"><span>Click Me</span></a>
                                        </div>
                                        {%endfor%}
                                </div>

                            <!-- Tab 2 -->
                                <div class="tab tab-2 flex flex-3">
                                    <!-- Video Thumbnail -->
                                        {%for each in nfl_events:%}
                                        <div class="video col">
                                            <div class="image fit">
                                                <img src="{{each['event_thumb']}}" alt="" />
                                                <div class="arrow">
                                                    <div class="icon fa-play"></div>
                                                </div>
                                            </div>
                                            <a href="{{url_for('generic', event_id=each['event_id'])}}" class="link"><span>Click Me</span></a>
                                        </div>
                                        {%endfor%}
                                </div>

                            <!-- Tab 3 -->
<!--                                        <div class="tab tab-3 flex flex-3">-->
<!--                                            &lt;!&ndash; Video Thumbnail &ndash;&gt;-->
<!--                                                <div class="video col">-->
<!--                                                    <div class="image fit">-->
<!--                                                        <img src="images/pic03.jpg" alt="" />-->
<!--                                                        <div class="arrow">-->
<!--                                                            <div class="icon fa-play"></div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <a href="generic.html" class="link"><span>Click Me</span></a>-->
<!--                                                </div>-->
<!--                                            &lt;!&ndash; Video Thumbnail &ndash;&gt;-->
<!--                                                <div class="video col">-->
<!--                                                    <div class="image fit">-->
<!--                                                        <img src="images/pic02.jpg" alt="" />-->
<!--                                                        <div class="arrow">-->
<!--                                                            <div class="icon fa-play"></div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <a href="generic.html" class="link"><span>Click Me</span></a>-->
<!--                                                </div>-->
<!--                                            &lt;!&ndash; Video Thumbnail &ndash;&gt;-->
<!--                                                <div class="video col">-->
<!--                                                    <div class="image fit">-->
<!--                                                        <img src="images/pic01.jpg" alt="" />-->
<!--                                                        <div class="arrow">-->
<!--                                                            <div class="icon fa-play"></div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <a href="generic.html" class="link"><span>Click Me</span></a>-->
<!--                                                </div>-->
<!--                                            &lt;!&ndash; Video Thumbnail &ndash;&gt;-->
<!--                                                <div class="video col">-->
<!--                                                    <div class="image fit">-->
<!--                                                        <img src="images/pic06.jpg" alt="" />-->
<!--                                                        <div class="arrow">-->
<!--                                                            <div class="icon fa-play"></div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <a href="generic.html" class="link"><span>Click Me</span></a>-->
<!--                                                </div>-->
<!--                                            &lt;!&ndash; Video Thumbnail &ndash;&gt;-->
<!--                                                <div class="video col">-->
<!--                                                    <div class="image fit">-->
<!--                                                        <img src="images/pic05.jpg" alt="" />-->
<!--                                                        <div class="arrow">-->
<!--                                                            <div class="icon fa-play"></div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <a href="generic.html" class="link"><span>Click Me</span></a>-->
<!--                                                </div>-->
<!--                                            &lt;!&ndash; Video Thumbnail &ndash;&gt;-->
<!--                                                <div class="video col">-->
<!--                                                    <div class="image fit">-->
<!--                                                        <img src="images/pic04.jpg" alt="" />-->
<!--                                                        <div class="arrow">-->
<!--                                                            <div class="icon fa-play"></div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <a href="generic.html" class="link"><span>Click Me</span></a>-->
<!--                                                </div>-->
<!--                                        </div>-->

                        </div>
                    </div>
            </div>
        </section>

    <!-- Three -->
<!--                <section class="wrapper ">-->
<!--                    <div class="inner">-->
<!--                        <header class="align-center">-->
<!--                            <h2>Aliquam ipsum purus dolor</h2>-->
<!--                            <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>-->
<!--                        </header>-->

<!--                        &lt;!&ndash; 3 Column Video Section &ndash;&gt;-->
<!--                            <div class="flex flex-3">-->
<!--                                <div class="video col">-->
<!--                                    <div class="image fit">-->
<!--                                        <img src="images/pic09.jpg" alt="" />-->
<!--                                        <div class="arrow">-->
<!--                                            <div class="icon fa-play"></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <p class="caption">-->
<!--                                        Cras eget lacus sed mauris scelerisque tincidunt-->
<!--                                    </p>-->
<!--                                    <a href="generic.html" class="link"><span>Click Me</span></a>-->
<!--                                </div>-->
<!--                                <div class="video col">-->
<!--                                    <div class="image fit">-->
<!--                                        <img src="images/pic10.jpg" alt="" />-->
<!--                                        <div class="arrow">-->
<!--                                            <div class="icon fa-play"></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <p class="caption">-->
<!--                                        Vivamus vulputate lacus non massa auctor lobortis-->
<!--                                    </p>-->
<!--                                    <a href="generic.html" class="link"><span>Click Me</span></a>-->
<!--                                </div>-->
<!--                                <div class="video col">-->
<!--                                    <div class="image fit">-->
<!--                                        <img src="images/pic11.jpg" alt="" />-->
<!--                                        <div class="arrow">-->
<!--                                            <div class="icon fa-play"></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <p class="caption">-->
<!--                                        Nam eu nisi non ante sodales interdum a vitae neque-->
<!--                                    </p>-->
<!--                                    <a href="generic.html" class="link"><span>Click Me</span></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                    </div>-->
<!--                </section>-->

    </div>
{%endblock%}
